<datalist id="country_list">
<option value="阿富汗" label="阿富汗 / Afghanistan"></option>
<option value="阿尔巴尼亚" label="阿尔巴尼亚 / Albania"></option>
<option value="阿尔及利亚" label="阿尔及利亚 / Algeria"></option>
<option value="美属萨摩亚" label="美属萨摩亚 / American Samoa"></option>
<option value="安哥拉" label="安哥拉 / Angola"></option>
<option value="阿根廷" label="阿根廷 / Argentina"></option>
<option value="亚美尼亚" label="亚美尼亚 / Armenia"></option>
<option value="澳大利亚" label="澳大利亚 / Australia"></option>
<option value="奥地利" label="奥地利 / Austria"></option>
<option value="阿塞拜疆" label="阿塞拜疆 / Azerbaijan"></option>
<option value="巴林" label="巴林 / Bahrain"></option>
<option value="孟加拉国" label="孟加拉国 / Bangladesh"></option>
<option value="白俄罗斯" label="白俄罗斯 / Belarus"></option>
<option value="比利时" label="比利时 / Belgium"></option>
<option value="贝宁" label="贝宁 / Benin"></option>
<option value="玻利维亚" label="玻利维亚 / Bolivia"></option>
<option value="波黑" label="波黑 / Bosnia and Herzegovina"></option>
<option value="博茨瓦纳" label="博茨瓦纳 / Botswana"></option>
<option value="巴西" label="巴西 / Brazil"></option>
<option value="保加利亚" label="保加利亚 / Bulgaria"></option>
<option value="布基纳法索" label="布基纳法索 / Burkina Faso"></option>
<option value="柬埔寨" label="柬埔寨 / Cambodia"></option>
<option value="喀麦隆" label="喀麦隆 / Cameroon"></option>
<option value="加拿大" label="加拿大 / Canada"></option>
<option value="开曼群岛" label="开曼群岛 / Cayman Islands"></option>
<option value="乍得" label="乍得 / Chad"></option>
<option value="智利" label="智利 / Chile"></option>
<option value="中国" label="中国 / China"></option>
<option value="哥伦比亚" label="哥伦比亚 / Colombia"></option>
<option value="哥斯达黎加" label="哥斯达黎加 / Costa Rica"></option>
<option value="克罗地亚" label="克罗地亚 / Croatia"></option>
<option value="古巴" label="古巴 / Cuba"></option>
<option value="捷克" label="捷克 / Czech Republic"></option>
<option value="刚果（金）" label="刚果（金） / Democratic Republic of the Congo"></option>
<option value="丹麦" label="丹麦 / Denmark"></option>
<option value="多米尼加共和国" label="多米尼加共和国 / Dominican Republic"></option>
<option value="厄瓜多尔" label="厄瓜多尔 / Ecuador"></option>
<option value="埃及" label="埃及 / Egypt"></option>
<option value="萨尔瓦多" label="萨尔瓦多 / El Salvador"></option>
<option value="爱沙尼亚" label="爱沙尼亚 / Estonia"></option>
<option value="埃塞俄比亚" label="埃塞俄比亚 / Ethiopia"></option>
<option value="斐济" label="斐济 / Fiji"></option>
<option value="芬兰" label="芬兰 / Finland"></option>
<option value="法国" label="法国 / France"></option>
<option value="法属波利尼西亚" label="法属波利尼西亚 / French Polynesia"></option>
<option value="加蓬" label="加蓬 / Gabon"></option>
<option value="格鲁吉亚" label="格鲁吉亚 / Georgia"></option>
<option value="德国" label="德国 / Germany"></option>
<option value="加纳" label="加纳 / Ghana"></option>
<option value="希腊" label="希腊 / Greece"></option>
<option value="危地马拉" label="危地马拉 / Guatemala"></option>
<option value="几内亚" label="几内亚 / Guinea"></option>
<option value="洪都拉斯" label="洪都拉斯 / Honduras"></option>
<option value="中国香港" label="中国香港 / Hong Kong"></option>
<option value="匈牙利" label="匈牙利 / Hungary"></option>
<option value="冰岛" label="冰岛 / Iceland"></option>
<option value="印度" label="印度 / India"></option>
<option value="印度尼西亚" label="印度尼西亚 / Indonesia"></option>
<option value="伊朗" label="伊朗 / Iran"></option>
<option value="伊拉克" label="伊拉克 / Iraq"></option>
<option value="爱尔兰" label="爱尔兰 / Ireland"></option>
<option value="以色列" label="以色列 / Israel"></option>
<option value="意大利" label="意大利 / Italy"></option>
<option value="科特迪瓦" label="科特迪瓦 / Ivory Coast"></option>
<option value="牙买加" label="牙买加 / Jamaica"></option>
<option value="日本" label="日本 / Japan"></option>
<option value="约旦" label="约旦 / Jordan"></option>
<option value="哈萨克斯坦" label="哈萨克斯坦 / Kazakhstan"></option>
<option value="肯尼亚" label="肯尼亚 / Kenya"></option>
<option value="科索沃" label="科索沃 / Kosovo"></option>
<option value="科威特" label="科威特 / Kuwait"></option>
<option value="吉尔吉斯斯坦" label="吉尔吉斯斯坦 / Kyrgyzstan"></option>
<option value="老挝" label="老挝 / Laos"></option>
<option value="拉脱维亚" label="拉脱维亚 / Latvia"></option>
<option value="黎巴嫩" label="黎巴嫩 / Lebanon"></option>
<option value="利比亚" label="利比亚 / Libya"></option>
<option value="立陶宛" label="立陶宛 / Lithuania"></option>
<option value="卢森堡" label="卢森堡 / Luxembourg"></option>
<option value="马来西亚" label="马来西亚 / Malaysia"></option>
<option value="马尔代夫" label="马尔代夫 / Maldives"></option>
<option value="马里" label="马里 / Mali"></option>
<option value="马耳他" label="马耳他 / Malta"></option>
<option value="毛里求斯" label="毛里求斯 / Mauritius"></option>
<option value="墨西哥" label="墨西哥 / Mexico"></option>
<option value="密克罗尼西亚联邦" label="密克罗尼西亚联邦 / Micronesia"></option>
<option value="摩尔多瓦" label="摩尔多瓦 / Moldova"></option>
<option value="蒙古" label="蒙古 / Mongolia"></option>
<option value="摩洛哥" label="摩洛哥 / Morocco"></option>
<option value="莫桑比克" label="莫桑比克 / Mozambique"></option>
<option value="缅甸" label="缅甸 / Myanmar"></option>
<option value="尼泊尔" label="尼泊尔 / Nepal"></option>
<option value="荷兰" label="荷兰 / Netherlands"></option>
<option value="新喀里多尼亚" label="新喀里多尼亚 / New Caledonia"></option>
<option value="新西兰" label="新西兰 / New Zealand"></option>
<option value="尼日利亚" label="尼日利亚 / Nigeria"></option>
<option value="朝鲜" label="朝鲜 / North Korea"></option>
<option value="北马其顿" label="北马其顿 / North Macedonia"></option>
<option value="挪威" label="挪威 / Norway"></option>
<option value="阿曼" label="阿曼 / Oman"></option>
<option value="巴基斯坦" label="巴基斯坦 / Pakistan"></option>
<option value="巴勒斯坦" label="巴勒斯坦 / Palestine"></option>
<option value="巴拿马" label="巴拿马 / Panama"></option>
<option value="巴拉圭" label="巴拉圭 / Paraguay"></option>
<option value="秘鲁" label="秘鲁 / Peru"></option>
<option value="菲律宾" label="菲律宾 / Philippines"></option>
<option value="波兰" label="波兰 / Poland"></option>
<option value="葡萄牙" label="葡萄牙 / Portugal"></option>
<option value="波多黎各" label="波多黎各 / Puerto Rico"></option>
<option value="卡塔尔" label="卡塔尔 / Qatar"></option>
<option value="刚果（布）" label="刚果（布） / Republic of the Congo"></option>
<option value="留尼汪" label="留尼汪 / Reunion"></option>
<option value="罗马尼亚" label="罗马尼亚 / Romania"></option>
<option value="俄罗斯" label="俄罗斯 / Russia"></option>
<option value="卢旺达" label="卢旺达 / Rwanda"></option>
<option value="圣卢西亚" label="圣卢西亚 / Saint Lucia"></option>
<option value="沙特阿拉伯" label="沙特阿拉伯 / Saudi Arabia"></option>
<option value="塞尔维亚" label="塞尔维亚 / Serbia"></option>
<option value="新加坡" label="新加坡 / Singapore"></option>
<option value="斯洛伐克" label="斯洛伐克 / Slovakia"></option>
<option value="斯洛文尼亚" label="斯洛文尼亚 / Slovenia"></option>
<option value="南非" label="南非 / South Africa"></option>
<option value="韩国" label="韩国 / South Korea"></option>
<option value="西班牙" label="西班牙 / Spain"></option>
<option value="斯里兰卡" label="斯里兰卡 / Sri Lanka"></option>
<option value="苏丹" label="苏丹 / Sudan"></option>
<option value="苏里南" label="苏里南 / Suriname"></option>
<option value="瑞典" label="瑞典 / Sweden"></option>
<option value="瑞士" label="瑞士 / Switzerland"></option>
<option value="叙利亚" label="叙利亚 / Syria"></option>
<option value="中国台湾" label="中国台湾 / Taiwan"></option>
<option value="塔吉克斯坦" label="塔吉克斯坦 / Tajikistan"></option>
<option value="坦桑尼亚" label="坦桑尼亚 / Tanzania"></option>
<option value="泰国" label="泰国 / Thailand"></option>
<option value="多哥" label="多哥 / Togo"></option>
<option value="突尼斯" label="突尼斯 / Tunisia"></option>
<option value="土耳其" label="土耳其 / Turkey"></option>
<option value="土库曼斯坦" label="土库曼斯坦 / Turkmenistan"></option>
<option value="阿联酋" label="阿联酋 / UAE"></option>
<option value="乌干达" label="乌干达 / Uganda"></option>
<option value="乌克兰" label="乌克兰 / Ukraine"></option>
<option value="英国" label="英国 / United Kingdom"></option>
<option value="美国" label="美国 / United States"></option>
<option value="乌拉圭" label="乌拉圭 / Uruguay"></option>
<option value="乌兹别克斯坦" label="乌兹别克斯坦 / Uzbekistan"></option>
<option value="委内瑞拉" label="委内瑞拉 / Venezuela"></option>
<option value="越南" label="越南 / Vietnam"></option>
<option value="也门" label="也门 / Yemen"></option>
<option value="赞比亚" label="赞比亚 / Zambia"></option>
</datalist>
