<datalist id="country_list">
<option value="Afghanistan" label="阿富汗">
<option value="Albania" label="阿尔巴尼亚">
<option value="Algeria" label="阿尔及利亚">
<option value="Angola" label="安哥拉">
<option value="Argentina" label="阿根廷">
<option value="Armenia" label="亚美尼亚">
<option value="Australia" label="澳大利亚">
<option value="Austria" label="奥地利">
<option value="Azerbaijan" label="阿塞拜疆">
<option value="Bahrain" label="巴林">
<option value="Bangladesh" label="孟加拉国">
<option value="Belarus" label="白俄罗斯">
<option value="Belgium" label="比利时">
<option value="Benin" label="贝宁">
<option value="Bolivia" label="玻利维亚">
<option value="Brazil" label="巴西">
<option value="Bulgaria" label="保加利亚">
<option value="Cambodia" label="柬埔寨">
<option value="Cameroon" label="喀麦隆">
<option value="Canada" label="加拿大">
<option value="Chile" label="智利">
<option value="China" label="中国">
<option value="Colombia" label="哥伦比亚">
<option value="Costa Rica" label="哥斯达黎加">
<option value="Croatia" label="克罗地亚">
<option value="Cuba" label="古巴">
<option value="Czech Republic" label="捷克">
<option value="Denmark" label="丹麦">
<option value="Ecuador" label="厄瓜多尔">
<option value="Egypt" label="埃及">
<option value="Estonia" label="爱沙尼亚">
<option value="Ethiopia" label="埃塞俄比亚">
<option value="Finland" label="芬兰">
<option value="France" label="法国">
<option value="Georgia" label="格鲁吉亚">
<option value="Germany" label="德国">
<option value="Ghana" label="加纳">
<option value="Greece" label="希腊">
<option value="Guatemala" label="危地马拉">
<option value="Honduras" label="洪都拉斯">
<option value="Hong Kong" label="中国香港">
<option value="Hungary" label="匈牙利">
<option value="Iceland" label="冰岛">
<option value="India" label="印度">
<option value="Indonesia" label="印度尼西亚">
<option value="Iran" label="伊朗">
<option value="Iraq" label="伊拉克">
<option value="Ireland" label="爱尔兰">
<option value="Israel" label="以色列">
<option value="Italy" label="意大利">
<option value="Japan" label="日本">
<option value="Jordan" label="约旦">
<option value="Kazakhstan" label="哈萨克斯坦">
<option value="Kenya" label="肯尼亚">
<option value="Kuwait" label="科威特">
<option value="Kyrgyzstan" label="吉尔吉斯斯坦">
<option value="Laos" label="老挝">
<option value="Latvia" label="拉脱维亚">
<option value="Lebanon" label="黎巴嫩">
<option value="Libya" label="利比亚">
<option value="Lithuania" label="立陶宛">
<option value="Luxembourg" label="卢森堡">
<option value="Malaysia" label="马来西亚">
<option value="Maldives" label="马尔代夫">
<option value="Mexico" label="墨西哥">
<option value="Mongolia" label="蒙古">
<option value="Morocco" label="摩洛哥">
<option value="Myanmar" label="缅甸">
<option value="Nepal" label="尼泊尔">
<option value="Netherlands" label="荷兰">
<option value="New Zealand" label="新西兰">
<option value="Nigeria" label="尼日利亚">
<option value="North Korea" label="朝鲜">
<option value="Norway" label="挪威">
<option value="Oman" label="阿曼">
<option value="Pakistan" label="巴基斯坦">
<option value="Panama" label="巴拿马">
<option value="Peru" label="秘鲁">
<option value="Philippines" label="菲律宾">
<option value="Poland" label="波兰">
<option value="Portugal" label="葡萄牙">
<option value="Qatar" label="卡塔尔">
<option value="Romania" label="罗马尼亚">
<option value="Russia" label="俄罗斯">
<option value="Saudi Arabia" label="沙特阿拉伯">
<option value="Serbia" label="塞尔维亚">
<option value="Singapore" label="新加坡">
<option value="Slovakia" label="斯洛伐克">
<option value="Slovenia" label="斯洛文尼亚">
<option value="South Africa" label="南非">
<option value="South Korea" label="韩国">
<option value="Spain" label="西班牙">
<option value="Sri Lanka" label="斯里兰卡">
<option value="Sweden" label="瑞典">
<option value="Switzerland" label="瑞士">
<option value="Syria" label="叙利亚">
<option value="Taiwan" label="中国台湾">
<option value="Tajikistan" label="塔吉克斯坦">
<option value="Tanzania" label="坦桑尼亚">
<option value="Thailand" label="泰国">
<option value="Tunisia" label="突尼斯">
<option value="Turkey" label="土耳其">
<option value="Turkmenistan" label="土库曼斯坦">
<option value="UAE" label="阿联酋">
<option value="Uganda" label="乌干达">
<option value="Ukraine" label="乌克兰">
<option value="United Kingdom" label="英国">
<option value="United States" label="美国">
<option value="Uruguay" label="乌拉圭">
<option value="Uzbekistan" label="乌兹别克斯坦">
<option value="Venezuela" label="委内瑞拉">
<option value="Vietnam" label="越南">
<option value="Yemen" label="也门">
</datalist>
